[Desktop Entry]
Categories=AudioVideo;Player;
Encoding=UTF-8
Name=LWNetDelay
GenericName=Audio Delay Line Control
Exec=lwnetdelay
Icon=lwnetdelay
Path=
Type=Application
Terminal=false
